textarea {
  inline-size: 100%;
  block-size: auto;
  resize: none;
  overflow: visible;
}

.input_row {
  display: flex;
  justify-content: right;
  align-content: right;
}

p {
  color: black;
  background-color: white;

}

.bottom_buttons {
  display: flex;
  justify-content: center;
  align-content: center;
}

.editor {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  justify-items: center;
  padding: 1rem;
  border: 2px solid white;
  border-radius: 2rem;
  color:antiquewhite;
  font-size: 1rem;
  max-width: min(90vw, 1280px);
}


.deleteBtn {

  padding: 0.2rem;
}

/* .bottom_buttons > button {
  background-color: #3f51b5;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  outline: 0;
  text-transform: uppercase;
  margin: 10px 0px;
  cursor: pointer;
  box-shadow: 0px 2px 2px lightgray;
  transition: ease background-color 250ms;
  &:hover {
    background-color: #283593;
  }
  &:disabled {
    cursor: default;
    opacity: 0.7;
  }
} */
