textarea {
  inline-size: 100%;
  block-size: auto;
  resize: none;
  overflow: visible;
}

.input_row {
  display: flex;
  justify-content: right;
  align-content: right;
}

p {
  color: black;
  background-color: white;
}

.bottom_buttons {
  display: flex;
  justify-content: center;
  align-content: center;
}

.bottom_buttons > button {
  font-size: 1rem;
}
