.if_then_else_container {
  display: flex;
  flex-direction: column;
  float: right;
  gap: 0.5rem;
  .row_name {
    background-color: darkgreen;
    padding: 0.1rem;
    border-radius: 0.3rem;
    color: white;
  }
  .delete_btn {
    margin-inline-start: 2rem;
  }
}