.button_list {
  display: flex;
  align-items: left;
  justify-items: left;
  flex-wrap: wrap;
}

.var_button {
  background-color: rgb(66, 121, 12);
  &:hover {
    background-color: rgb(46, 85, 6);
  }
}