.editor_wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 1rem;
  border: 2px solid white;
  border-radius: 2rem;
  color:antiquewhite;
  max-inline-size: 400px;
  font-size: 1rem;
}
