* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	min-height: 100vh;
  min-inline-size: 600px;

	overflow-x: hidden;
	background: #333;

  font-size: 1rem;
}

@media screen and (width: 600px){
  body {
    max-inline-size: 100%;
    min-inline-size: 400px;
  }
  
}